.group {
    animation: slide 5s infinite linear;
    padding-right: 1em;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}